<div class="container">
  <!--implement serverCreated and blueprintCreated events in cockpit.component.ts
  both are Output elemets because we output some data out of the cockpit-component
  onServerAdded() and onBlueprintAdded() of app.component.ts catch this output with $event
  -->
  <app-cockpit 
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-danger" (click)="onDestroyFirstComponent()">Destroy first component</button>
      <!--access the array of app.component.ts-->
      <app-server-element *ngFor="let currentServerElement of serverElements"
      [srvElement]="currentServerElement"></app-server-element> <!--property binding: we want to bind a value to the property 'srvElement' which is defined in the server-element.component.ts. Each 'app-server-element' html element has a property 'srvElement'-->
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12"></div>
  </div>
</div>